**/*.pyc
**/logs/
logs/*
logs/**
db.sqlite3
**/uploaded_media/
**/migrations/*
**/migrations/
/media/
media/*
/static/
/venv/
**/.env
**/.ipynb_checkpoints
**/.idea
**/*.log
**/*.swp
TextSpotting/pretrained_model/*
TextSpotting/model_rnpd/*
